.review-filters-box {
  display: block;
}

.filter-item {
  padding: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.filter-item:before {
  content: '|';
  margin-right: 4px;
}

.filter-item.first {
  padding-left: 0px;
}

.filter-item.first:before {
  content: '';
  margin-right: 0px;
}

.review-sep:last-child {
  display: none;
}